@import "tailwindcss";
@import "../../node_modules/flyonui/variants.css";
@import "flyonui/src/vendor/notyf.css";

@plugin "flyonui" {
    themes: black --default;
}
@plugin "flyonui/theme" {
    name: "black";
    default: true;
    --color-primary: #7033ff;
}
@plugin "@iconify/tailwind4";
/*@source "./node_modules/flyonui/dist/tab.js";*/
@source "./node_modules/flyonui/dist/index.js";

/* Custom CSS */
.notyf {
    margin-top: 0.40rem !important;
}
